### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [87]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [88]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [89]:
#count total number of players
players = len(purchase_data.SN.unique())
total_players_df = pd.DataFrame({"Total Players": [players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
#count unique items 
unique_items = len(purchase_data["Item Name"].unique())

#average price 
average_price = purchase_data["Price"].mean()


#number of purchases 
purchases = len(purchase_data["Purchase ID"].unique())

#total revenue 
revenue = purchase_data["Price"].sum()

#add "$" to floats
pd.options.display.float_format = '${:.2f}'.format

#create summary table 
sum_table = pd.DataFrame({
    "Number of Unique Items": [(unique_items)],
    "Average Price": [(average_price)],
    "Number of Purchases": [(purchases)],
    "Total Revenue": [(revenue)]
})

sum_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780       $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [91]:
#find unique players to avoid duplicates
gender = purchase_data.drop_duplicates("SN")

#count genders
gender_count = gender["Gender"].value_counts()

#conver gender count to dataframe
gender_count_df = pd.DataFrame(gender_count)

#calculate percent by gender
gender_count_df["Percentage of Players"] = (gender_count_df["Gender"]/players)*100

#add percent sign 
gender_count_df["Percentage of Players"] = gender_count_df["Percentage of Players"].map('{:.2f}%'.format)



gender_count_df

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [121]:
#pull for each gender
gender_purchase = purchase_data.groupby("Gender")

#calculate purchase count
purchase_count = gender_purchase["Gender"].count()

#calculate purchase price
avg_purchase_price = gender_purchase["Price"].mean()

#calculate avg purchase
total_purchase_value = gender_purchase["Price"].sum()

#calculate total purchase per person 
avg_total_per_person = total_purchase_value / gender_count

#add "$" to floats
pd.options.display.float_format = '${:.2f}'.format

gender_purchase_analysis_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": avg_total_per_person
})

gender_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [93]:
#establish bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

age_buckets = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [94]:
# catagorize players in to age bins
purchase_data["age_group"] =  pd.cut(purchase_data["Age"], bins, labels = age_buckets)

In [99]:
#players by age
players_by_age = purchase_data.groupby("age_group")

#count unique player in each age
total_count_age = players_by_age["SN"].nunique()

#calculate percentage 
percentage_of_players = (total_count_age / players *100).map("{:.2f}%".format)
                         
                       

#create summary data frame
age_demo = pd.DataFrame({
    "Total Count": total_count_age,
    "Percentage of Players": percentage_of_players
})

age_demo

           Total Count Percentage of Players
age_group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [122]:
#count purchase by age group
purchase_count_age = players_by_age["Purchase ID"].count()

#average purchase price by age group
avg_purchase_price_age = players_by_age["Price"].mean()

#Total purchase price by age group
total_purchase_value_age = players_by_age["Price"].sum()

#average total purchase per person by age
avg_purchase_person_age = total_purchase_value_age / total_count_age

#add "$" to floats
pd.options.display.float_format = '${:.2f}'.format

purchasing_analysis_age = pd.DataFrame({
    "Purchase Count": purchase_count_age,
    "Average Purchase Price": avg_purchase_price_age,
    "Total Purchase Value": total_purchase_value_age,
    "Avg Total Purchase per Person": avg_purchase_person_age
})

purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
age_group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [123]:
#Group by screen name
screen_names = purchase_data.groupby("SN")

#count purchases by name
purchase_count_sn = screen_names["Purchase ID"].count()

#calculate average purchase price 
avg_purchase_price_sn = screen_names["Price"].mean()

#calculate purcahse total
purchase_total_sn = screen_names["Price"].sum()

#add "$" to floats
pd.options.display.float_format = '${:.2f}'.format

top_spenders = pd.DataFrame({
    "Purchase Count": purchase_count_sn,
    "Average Purchase Price": avg_purchase_price_sn,
    "Total Purchase Value": purchase_total_sn
})

#sort in decending order 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [147]:
#locate items
items = purchase_data[["Item ID", "Item Name", "Price"]]

#Group by item
item_group = items.groupby(["Item ID", "Item Name"])

#Count the number of times an item was purchased
purchase_count_item = item_group["Item Name"].count()

#Calculate the purchase value per item
purchase_value_item = (item_group ["Price"].sum())

#add "$" to floats
pd.options.display.float_format = '${:.2f}'.format

#find individual item price
item_price = purchase_value_item/purchase_count_item

most_popular_items = pd.DataFrame({
    "Purchase Count": purchase_count_item,
    "Item Price": item_price,
    "Total Purchase Value": purchase_value_item
})

Most_Popular_Items

#sort in descending order
popular_formatted = most_popular_items.sort_values(["Purchase Count"],ascending=False).head()

popular_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [151]:
#add "$" to floats
pd.options.display.float_format = '${:.2f}'.format

#sort by top profitable items
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],ascending=False).head()
popular_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80