### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [3]:
#count total number of players
players = len(purchase_data.SN.unique())
total_players_df = pd.DataFrame({"Total Players": [players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#count unique items 
unique_items = len(purchase_data["Item Name"].unique())

#average price 
average_price = purchase_data["Price"].mean()


#number of purchases 
purchases = len(purchase_data["Purchase ID"].unique())

#total revenue 
revenue = purchase_data["Price"].sum()

#add "$" to floats
pd.options.display.float_format = '${:.2f}'.format

#create summary table 
sum_table = pd.DataFrame({
    "Number of Unique Items": [(unique_items)],
    "Average Price": [(average_price)],
    "Number of Purchases": [(purchases)],
    "Total Revenue": [(revenue)]
})

sum_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780       $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#find unique players to avoid duplicates
gender = purchase_data.drop_duplicates("SN")

#count genders
gender_count = gender["Gender"].value_counts()

#conver gender count to dataframe
gender_count_df = pd.DataFrame(gender_count)

#calculate percent by gender
gender_count_df["Percentage of Players"] = (gender_count_df["Gender"]/players)*100

#add percent sign 
gender_count_df["Percentage of Players"] = gender_count_df["Percentage of Players"].map('{:.2f}%'.format)



gender_count_df

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#pull for each gender
gender_purchase = purchase_data.groupby("Gender")

#calculate purchase count
purchase_count = gender_purchase["Gender"].count()

#calculate purchase price
avg_purchase_price = gender_purchase["Price"].mean()

#calculate avg purchase
total_purchase_value = gender_purchase["Price"].sum()

#calculate total purchase per person 
avg_total_per_person = total_purchase_value / gender_count


gender_purchase_analysis_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": avg_total_per_person
})

gender_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
#establish bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

age_buckets = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [10]:
# catagorize players in to age bins
purchase_data["age_group"] =  pd.cut(purchase_data["Age"], bins, labels = age_buckets)

In [21]:
#calculate the number and percentage by age group 
players_by_age = purchase_data.groupby("age_group").SN.nunique()

percentage_of_players = (players_by_age / purchase_data.SN.nunique()*100).map("{:.2f}%".format)

#create summary data frame
age_demo = pd.DataFrame({
    "Total Count": players_by_age,
    "Percentage of Players": percentage_of_players
})

age_demo

           Total Count Percentage of Players
age_group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame